<h1><%= @clase.nombre %></h1>
<%= link_to 'Editar', edit_clase_path(@clase), class: "action-button little-button"%>

<section class="clase-grupo-details">
<ul>
  <%= @clase.grupo.get_codigo %>
  <br/>
  <%= @clase.grupo.carrera.nombre %>
</ul>
</section>

<section class="clase-tareas">
  <h2>Tareas</h2>

  <ol>
    <% @clase.tareas.each do |tarea| %>
      <li><%= link_to "#{tarea.descripcion}", url_for([tarea.clase, tarea]) %> (<%= tarea.puntaje_maximo %>)</li>
    <% end %>
  </ol>
</section>

<section class="clase-estudiantes">
    <h2>Estudiantes</h2>
    <ol class="lista-estudiante">
        <% @clase.estudiantes.each do |estudiante|%>
        <li>
          <a href="<%= url_for estudiante %>">
            <%= estudiante.carnet %> <%= estudiante.nombre %> <%= estudiante.apellido %>
          </a>
        </li>
        <% end %>
    </ol>
</section>

<div class="clase-add-estudiante">
  <a class="action-button little-button">Añadir Estudiante</a>
  <%= select_tag('grupo_id', options_from_collection_for_select(@grupos, :first, :last)) %>
  <%= select_tag('estudiante_id', options_from_collection_for_select(@estudiantes_disponibles, :first, :last)) %>
</div>
