<header>
    <div id="left-header">
        <a id="back-button" href="javascript:history.back()">◀︎</a>
        <h1 id="app-name"><a href="/">Cl<span id="app-name-decor">•</span>istro</a></h1>
    </div>

    <div id="center-header">
        <%= link_to('Clases', home_path) %>
        <%= link_to('Grupos', grupos_path) %>
        <%= link_to('Estudiantes', estudiantes_path) %>
    </div>

    <div id="right-header">
        <% if user_signed_in? %>
            <li>
            <%= link_to('Cerrar Sesion', destroy_user_session_path, method: :delete) %>
            </li>
        <% else %>
            <li>
            <%= link_to('Iniciar Sesion', new_user_session_path) %>
            </li>
        <% end %>
    </div>
</header>
