<!DOCTYPE html>
<html>
  <head>
    <title>Cl•istro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Open+Sans&display=swap', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/components/header.html.erb' %>
    <main>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </main>
    <% if params[:debug] == 1 %>
      <%= console %>
    <% end %>
  </body>
</html>
